/* remove rounding from cards, buttons and inputs */
body{
    font-size: 15px;
}
.card, .btn, .form-control { border-radius: 0; }
.bd-navbar{
    min-height: 4rem;
    background-color: #563d7c;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.sidebar-wrapped h5{
    font-size: 11px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
    margin-top: 2em;
    margin-bottom: 2em;
}

@media (min-width: 768px){
    .bd-navbar {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1071;
    }
}
